@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  height: 100%;
}

.header-img {
  width: 200px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 50%;
}

.home-maindiv {
  background-image: url("/bg_img.png");
}

.login-btn {
  border: 1px solid black;
  border-radius: 10px;
  padding: "6px 14px";
  font-weight: 500;
}

.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  flex-wrap: wrap;
}

.header-main-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  max-width: 600px;
  padding: 20px;
}

.login-btn:hover {
  background-color: lightgray;
}

.input-form {
  background-color: #e5fffc81;
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 93vh;
  padding: 20px;
}

.login-bg {
  /* background: linear-gradient(to bottom, #ffbd77, #6c209b); */
  /* background: linear-gradient(to bottom, #52ffff, #696eff); */
  /* background: linear-gradient(to bottom, #FFDDE1, #EE9CA7); */
  background-color: rgba(0, 100, 97, 0.463);
}

.form-title {
  text-align: center;
  margin-bottom: 20px;
  color: #1e3a8a;
}

.input-group {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px 12px;
  background-color: #f9f9f9;
  transition: border 0.3s;
}

.input-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.input-field {
  border: none;
  outline: none;
  flex: 1;
  font-size: 16px;
  background-color: transparent;
}

.forgot-link {
  text-align: right;
  font-size: 14px;
}

.forgot-link a {
  color: #1e3a8a;
  text-decoration: none;
}

.forgot-link a:hover {
  text-decoration: underline;
}

.submit-btn {
  width: 100%;
  padding: 12px;
  /* background-color: #1e3a8a; */
  background-color: #004c48;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-btn:hover {
  background-color: #3749b0;
}

.text-center-login {
  text-align: center;
  font-size: 18px;
  color: #1e3a8a;
}

@media (max-width: 500px) {
  .input-form {
    padding: 30px 20px;
  }
}

.user-badge {
  width: 32px;
  height: 32px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #333;
  color: #fff;
  position: relative;
}

.user-dropdown {
  display: none;
  position: absolute;
  top: 32px; 
  /* right: 10px; */
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
  min-width: 120px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  z-index: 100;
}

.user-dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-dropdown li {
  padding: 8px 12px;
  cursor: pointer;
  color: rgb(34, 34, 34);
}

.user-dropdown li:hover{
  background-color: #d3d3d3;
}

.user-badge:hover .user-dropdown {
  display: block;
}

.my-profile {
  text-decoration: none;
  color: rgb(34, 34, 34);
}

.login-bg {
  height: 100vh;
  display: flex;
  flex-direction: column;

}

.verify-otp-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.verify-otp-form {
  background-color: #e5fffc81;
  /* background: linear-gradient(to bottom, #EE9CA7, #FFDDE1 ); */
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  max-width: 420px;
  width: 100%;
}

.otp-inputs {
  gap: 0.5rem;   
  max-width: 100%;
  margin: 0 auto;      
}

.otp-inputs input.otp-inputs {
  flex: 1 1 0;
  min-width: 30px;
  max-width: 30px;        
  height: 60px;
  font-size: 1.5rem;
  text-align: center;
  display: flex;
  border-radius: 12px;
  border: 1px solid #5d5d5d;
  outline: none;
  transition: 0.3s ease;
  box-sizing: border-box;
  background-color: #f8f9fa;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

  
.otp-inputs input.otp-inputs:focus {
  border-color: #2575fc;
  box-shadow: 0 0 5px rgba(37, 117, 252, 0.5);
}

.verify-otp-form h1, 
.verify-otp-form p {
  color: #004c48;
}

.verify-btn {
  width: 100%;
  padding: 12px;
  background-color: #004c48;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.4s ease;
}

.verify-btn:hover {
  background-color: #003751;
}

.toggle-btn {
  background-color: #3749b0;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
}

.toggle-btn:hover {
  background-color: #004c48;
}


